<header>
  <nav class="navbar">
    <div class="container">
      <a class="navbar-brand" routerLink="/">WEB Project Camila</a>
      <ul class="navbar-nav">
        <li><a routerLink="/createdby">Created By</a></li>
        <li><a routerLink="/assignedto">Assigned To</a></li>
        <li><a routerLink="/signup">Sign UP</a></li>
      </ul>
    </div>
  </nav>
</header>

<main>
  <router-outlet></router-outlet>
</main>

<footer>
  <div class="container">
    <p>&copy; 2023 Web Project Camila Mayer</p>
  </div>
</footer>
